<ActionBar class="action-bar" title="POC">
  <NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>
<StackLayout>
  <DockLayout stretchLastChild="true">
    <DockLayout dock="bottom" class="nav-bar" stretchLastChild="false">
      <Button
        textWrap="false"
        dock="left"
        text="&#xf05a; Info"
        class="fa nav-buttons pull-left"
      >
      </Button>
      <Label text=" " width="5%"></Label>
      <Button
        textWrap="false"
        dock="right"
        text="&#xf0ed; Update Policies"
        class="fa nav-buttons pull-right"
      >
      </Button>
    </DockLayout>
    <StackLayout dock="top" row="0"> </StackLayout>
  </DockLayout>
</StackLayout>
