<ActionBar class="action-bar" title="POC">
  <NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>
<StackLayout class="bg">
  <DockLayout stretchLastChild="true">
    <DockLayout dock="bottom" class="nav-bar" stretchLastChild="false">
      <Button
        textWrap="false"
        dock="left"
        text="Info"
        class="fa nav-buttons pull-left"
      >
      </Button>
      <Label text=" " width="5%"></Label>
      <Button
        textWrap="false"
        dock="right"
        text="Update Policies"
        class="fa nav-buttons pull-right"
      >
      </Button>
    </DockLayout>
    <StackLayout dock="top" row="0">
      <GridLayout rows="auto,auto,*" col="*" class="claim-list">
        <StackLayout row="0" col="0"> </StackLayout>
        <Label
          *ngIf="cases.length > 0"
          class="policy-count"
          row="1"
          col="0"
          text="my {{ cases.length }} policies ..."
        ></Label>
        <StackLayout
          *ngIf="cases.length == 0"
          row="1"
          col="0"
          rows="8,*,8"
          columns="*"
          class="no-results"
        >
          <label text="" row="0" col="0"></label>
          <label
            text="No results match your search criteria"
            row="1"
            col="0"
          ></label>
          <label text="" row="2" col="0"></label>
        </StackLayout>
        <ListView
          class="bg"
          *ngIf="cases.length > 0"
          row="2"
          col="0"
          [items]="cases"
        >
          <ng-template
            let-caseItem="item"
            let-i="index"
            let-odd="odd"
            let-even="even"
          >
            <StackLayout
              class="claim-item"
              [class.odd]="odd"
              [class.even]="even"
            >
              <CaseItem [case]="caseItem"></CaseItem>
            </StackLayout>
          </ng-template>
        </ListView>
      </GridLayout>
    </StackLayout>
  </DockLayout>
</StackLayout>
